[submodule "webroot/css/blueprint"]
	path = webroot/css/blueprint
	url = git://github.com/joshuaclayton/blueprint-css.git
[submodule "webroot/js/hashgrid"]
	path = webroot/js/hashgrid
	url = git://github.com/dotjay/hashgrid.git
[submodule "webroot/css/960"]
	path = webroot/css/960
	url = git://github.com/nathansmith/960-Grid-System.git
[submodule "webroot/css/formalize"]
	path = webroot/css/formalize
	url = git://github.com/nathansmith/formalize.git
[submodule "webroot/js/jquery-ui"]
	path = webroot/js/jquery-ui
	url = git://github.com/jquery/jquery-ui.git
[submodule "webroot/bootstrap"]
	path = webroot/bootstrap
	url = https://github.com/twitter/bootstrap.git
[submodule "webroot/jquery"]
	path = webroot/jquery
	url = git://github.com/jquery/jquery.git
[submodule "webroot/chosen"]
	path = webroot/chosen
	url = git://github.com/harvesthq/chosen.git
