body {
	margin: 0;
	color: black;
	background: url(../img/header.png) repeat-x;
	font-family: Verdana;
}
a, a:active, a:visited {
	color: black;
}
#container {
	width: 1080px;
	margin: auto;
}
#header {
	height: 75px;
	font: 12px 'PerspectiveSansRegular', Arial, sans-serif;
}

/* tables */
.table {
	
}
.table th {
	text-align: left;
}


/* info boxes */

/* forms */